body
{
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#logo {
    width: 50px;
    height: 50px;
}

header
{
    background: #d19002f6;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

header #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
    background: khaki;
    padding: 1em;
}

footer
{
    background: #d19002f6;
    color: white;
    text-align: center;
    padding: 0.5em;
}
#imagen{
    display: flex;
    margin: auto;
}


