body
{
    color:darkolivegreen;
    text-align:center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 4px solid snow;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}