body
{
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #37488b;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
    background: white;
    padding: 1em;
}

#footer
{
    background: #37488b;
    color: white;
    text-align: center;
    padding: 0.5em;
}

a{
    text-decoration: none;
    color: #333;
}

a:hover{
    text-decoration: underline;
    color: rgb(221, 91, 44);
}

.contribuciones{
    grid-template-columns: repeat(3, 1fr);
}

.item, .contribuciones{
    padding: 15px;
    display: grid;
    grid-gap: 5px;
    border: 2px solid #37488b;
    border-radius: 8px;
    text-align: center;
}
.item{
    background: #c2ccf3;
}
h2{
    text-align: center;
    color: #333;
}