body
{

    text-align: left;
    font-family : "Arial";
    color: #333;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;

}

#container h1
{
font-size: 20px;
}