body
{   
    color:green;
    text-align: center;
    font-family:cursive;
    font-size:15px;
    margin:0;
    padding:0;
}
#cabecera
{
    background:#33A;
    box-shadow:0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight:bold;
    margin:5;
    padding:0.8em;
    font-size:1.5em;
}
#cabecera #tagline
{
    padding:1em 0 0 0;
    font-weight:normal;
    font-size:1.5em;
}
#container
{
    width:70%;
    padding:1em;
    text-align:left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1
{
    font-size:2em;
}
#post
{
    padding:2em;
    font-size:1.5em;
}
#footer
{
    background:#777;
    color: white;
}