body {
    text-align: center;
    background-color: darkslategray;
    color: cornsilk;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.first {
    color: blueviolet;
}