body {
    text-align: center;
    background-color: #122e1d;
    color: cornsilk;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#header {
    height: 20px;
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
    color:black;
    margin: 0;
    padding: 0.5em;

    font-weight: bold;
    background: radial-gradient(cornsilk, transparent);
}

#container {
    width: 70%;
    padding: 3px;
    text-align: center;
    border: 25px solid #DDD;
    margin: 0 auto;

    background: radial-gradient(black, transparent);
}

#container h1 {
    font-size: 25px;
    margin-bottom: 30px;
}

#post {
    padding: 1em;
}