body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: red;
    font-size: 16px;
}
.container {
    width: 70%;
    text-align: left;
    padding: 1em;
    border: 1px solid #555555;
    margin: 0 auto;
}
.container h1 {
    font-size: 25px;
}
.cabecera {
    background-color: green;
    font-size: 20px;
}
.cabecera ul {
    list-style: none;
}
.cabecera ul li {
    display: inline-block;
    padding: 10px;
}
a{ 
    color: white;
    text-decoration: none;
}
footer {
    background: #8d0fa9;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}