body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333;
    font-size: 16px;
}
.container {
    width: 70%;
    text-align: left;
    padding: 1em;
    border: 1px solid #555555;
    margin: 0 auto;
}
.container h1 {
    font-size: 25px;
}
.cabecera {
    background-color: green;
}