* {
    margin: 0;
    padding: 0%;
}

body {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    border: 2px solid #000000;
    padding: 30px;
}
div {
    background: red;
}

div h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    padding-bottom: 40px;
    font-family: monospace;
    /* font-weight: 700; */
}

p {
    font-size: 25px;
    line-height: 40px;
}