*{
    background-color: darkslategrey;
}

#container{
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid white;
    border-radius: 2%;
    box-shadow: 0 0 10px black;
}


h1{
    color: white;
    display: inline-block;
}

p{
    color:bisque;

}

#container :nth-child(3){
    display: inline-block;
    font-size: 22px;
    color: white;
}